* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  font-family: sans-serif;
}

.outline {
  border: 5px solid #b08968;
  width: 825px;
  margin: 50px auto;
}

.all-title {
  background-color: #e6ccb2;
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  margin: 0;
  padding: 10px;
}

.price {
  font-size: 25px;
}

.free {
  font-size: small;
  color: #b08968;
  font-weight: bold;
  text-transform: uppercase;
}

.ready {
  padding-top: 20px;
  padding-bottom: 10px;
}

.pd {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 15px;
  margin-top: 30px;
}

.more-link:link,
.more-link:visited {
  color: #b08968;
}
.more-link:hover,
.more-link:active {
  text-decoration: none;
  color: #e3d5ca;
} /*링크에 마우스를 대면 밑줄 없어지고 색 바뀜*/

.information {
  margin-left: 20px;
  list-style: square;
} /*동그라미에서 네모로 디자인 바꿈*/

.information li {
  margin-bottom: 10px;
}

/* button 색상을 넣으려고 하는데.. butoon {}도 안되고 .ATC{}도 안된다. */

.ATC {
  font-size: 20px;
  background-color: #b08968;
  color: white;
  text-transform: uppercase; /*대문자 변경*/
  cursor: pointer;
  border: none;
  padding: 15px;
  width: 100%;
  border-top: 5px solid #b08968;
}

.ATC:hover {
  font-size: 20px;
  background-color: white;
  color: black;
}
