* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  font-family: sans-serif;
}

h2 {
  position: relative;
}

h2::before {
  content: "SALE"; /*문자니까!! ""를 붙여야한다. 잊지말자 !!!!!"*/
  background-color: #d90429;
  color: #fff;
  position: absolute;
  font-size: 20px;
  display: inline-block;
  top: -25px;
  left: -30px;
  letter-spacing: 5px;
  padding: 5px;
  border: 5px solid #d90429;
  border-radius: 10%;
  text-align: center;
}

.outline {
  border: 5px solid #b08968;
  width: 825px;
  margin: 50px auto;
}

.all-title {
  background-color: #e6ccb2;
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  margin: 0;
  padding: 10px;
}

.price {
  font-size: 25px;
}

.free {
  font-size: small;
  color: #b08968;
  font-weight: bold;
  text-transform: uppercase;
}

.ready {
  padding-top: 20px;
  padding-bottom: 10px;
}

.pd {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 15px;
  margin-top: 30px;
}

.more-link:link,
.more-link:visited {
  color: #b08968;
  display: inline-block;
}
.more-link:hover,
.more-link:active {
  text-decoration: none;
  color: #e3d5ca;
} /*링크에 마우스를 대면 밑줄 없어지고 색 바뀜*/

.color {
  background-color: #001219;
  width: 22px;
  height: 22px;
  display: inline-block;
  margin-right: 10px;
  margin-top: 30px;
}

.color-blue {
  background-color: #0077b6;
}

.color-pink {
  background-color: #ef476f;
}

.color-orange {
  background-color: #f77f00;
}

.color-green {
  background-color: #333d29;
}

.color-yellow {
  background-color: #f4d35e;
}
.information {
  margin-left: 20px;
  list-style: square;
} /*동그라미에서 네모로 디자인 바꿈*/

.information li {
  margin-bottom: 10px;
}

/* button 색상을 넣으려고 하는데.. butoon {}도 안되고 .ATC{}도 안된다. */

.ATC {
  font-size: 20px;
  background-color: #b08968;
  color: white;
  text-transform: uppercase; /*대문자 변경*/
  cursor: pointer;
  border: none;
  padding: 15px;
  width: 100%;
  border-top: 5px solid #b08968;
}

.ATC:hover {
  font-size: 20px;
  background-color: white;
  color: black;
}
